# Redirection 301 de l'ancienne URL 2024 vers la nouvelle 2026
Redirect 301 /beste-hondensnacks-2024/ /beste-hondensnacks-2026/

# Autres redirections si nécessaire
# Redirect 301 /ancienne-page/ /nouvelle-page/
